@import url('https://fonts.googleapis.com/css2?family=Style+Script&family=Uchen&display=swap');

:root {
  --uchen: 'Uchen', serif;
  --styleScript: 'Style Script', cursive;
  --jet: rgb(51, 48, 48);
  --celadon: rgb(152, 223, 175);
  --tea-green: rgb(222, 239, 183);
  --cedar-chest: rgb(208, 90, 76);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  font-family: var(--ultra);
}

.container {
  display: flex;
}

nav{
  background-color: var(--jet);
}

.active{
  color: var(--celadon);
}

.link:not(.active){
  color: white;
}

.link:not(.active):hover{
  color: var(--tea-green);
}

#brief-container{
  background-color: var(--tea-green);
  height: 90vh;
  width: 85vw;
  margin-top: 5vh;
  margin-left: 10vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home-page-image{
  position: absolute;
  margin-top: 5vh;
  margin-left: 28vw;
  width: 28vw;
  height: 80vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home-page-container{
  margin-left: 55vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-text{
  font-family: var(--styleScript);
  font-size: 3rem;
}

.call-to-action{
  color: white;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#products-container{
  width: 60vw;
  margin-left: 40vw;
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-container{
  margin-bottom: 4%;
  width: 18vw;
  border: 1px solid var(--jet);
  box-shadow: 0px 4px 4px var(--jet)(0, 0, 0, 0.25);
  padding-top: 2%;
  padding-left: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image{
  padding: 0.4%;
  height: 25vh;
  width: 16vw;
  object-position: 50% 75%;
  object-fit: cover;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-text{
  width: 16vw;
  padding: 0.5%;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

span{
  float: right;
  font-weight: bolder;
  padding-left: 3%;
}

.product-cart-container{
  display: flex;
  width: 16vw;
  justify-content: flex-end;
}

.product-cart-container *{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vh;
}

button{
  font-size: 1.2rem;
  border: none;
  color: white;
  width: 1.5vw;
}

button:hover{
  cursor: pointer;
}

.add-to-cart{
  background-color: var(--celadon);
}

.remove-from-cart{
  background-color: var(--cedar-chest);
}

.cart-count{
  width: 3vw;
}

.hidden {
  display: none;
}

#cart-container{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 57vw;
  height: 7vh;
  background-color: white;
}

#cart-container *{
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  font-size: 1.2rem;
  background-color: white;
  color: black;
}

#cart-container button svg{
  width: 27%;
}

#cart-container *:hover{
  cursor: pointer;
}

#checkout-container{
  position: fixed;
  top: 0;
  width: 98vw;
  height: 100vh;
}

#checkout-wrapper{
  position: relative;
  left: 41vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58vw;
  background-color: white;
  border-left: 1px solid var(--jet);
}

#close-checkout{
  position: fixed;
  width: 58vw;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
}

#close-checkout-btn{
  background-color: var(--jet);
  height: 7vh;
  width: 5vw;
  color: var(--tea-green);
  font-size: 1.3rem;
  font-family: var(--uchen);
}

#close-checkout-btn:hover{
  cursor: pointer;
}

#checkout-items-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 1vh;
  margin-top: 10vh;
  width: 50vw;
  height: 40vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#checkout-items-container::-webkit-scrollbar {
  display: none;
}

#pay-details-container{
  display: fixed;
  margin-top: 50vh;
  height: 60vh;
  width: 58vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 2;
  background-color: white;
  border-left: 1px solid var(--jet);
}

#total-price-container{
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  font-size: 1.8rem;
  border-top: 1px solid var(--jet);
  padding-top: 5px;
}

#pay-now-btn{
  background-color: var(--jet);
  width: 20vw;
  padding: 5px 0;
  border-radius: 7px;
  font-family: var(--uchen);
  color: var(--tea-green);
}

#products-source-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tea-green);
  height: 20vh;
  width: 100%;
}

#products-source-text{
  width: 45vw;
  font-size: 1.3rem;
  color: var(--jet);
  text-align: justify;
}

a{
  text-decoration-color: var(--jet);
}

a:link:not(.link), a:visited:not(.link), a:active:not(.link){
  color:var(--jet);
}

.cart-item-container{
  display: flex;
  justify-content: space-between;
}

.cart-item-image-container{
  display: flex;
}

.cart-item-image {
  padding: 0.4%;
  height: 12vh;
  width: 8vw;
  object-position: 50% 75%;
  object-fit: cover;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.cart-item-count{
  margin-top: -6px;
  margin-left: -15px;
  color: var(--cedar-chest);
  background-color: var(--jet);
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(208, 90, 76, 0.25);
  padding: 15px;

}

.cart-item-text-container{
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 1.15rem;
}

.cart-item-text-container *{
  width: 23vw;
}

.cart-item-price{
  padding-left: 17vw;
}

.cart-item-overall-price{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
/* https: //www.google.com/imgres?imgurl=http%3A%2F%2F25.media.tumblr.com%2F06e4f035b3982b24550f01494249b2a2%2Ftumblr_n18r1t1TZz1tpegqko1_400.gif&imgrefurl=https%3A%2F%2Fwifflegif.com%2Ftags%2F46809-all-star-gifs%3Fpage%3D3&tbnid=rW3ANncm3WHGHM&vet=10CB4QxiAoBWoXChMIkMfwz97U-AIVAAAAAB0AAAAAEAs..i&docid=YSdEKa_P4f1qPM&w=400&h=258&itg=1&q=sneakers%20walking%20gif&ved=0CB4QxiAoBWoXChMIkMfwz97U-AIVAAAAAB0AAAAAEAs#imgrc=KpibYE5l51oZxM&imgdii=vHInGamn173kcM */